#game_board {
	width: 800px;
	height: 500px;
	border: 5px solid #000000;
}

#play {
	width: 90%;
	height: 100%;
	margin: auto;
	display: flex;
	justify-content: space-between;
}

#mode_select {
	width: 800px;
	height: 100px;
	margin: auto;
	display: flex;
	justify-content: space-between;
}

.mode {
	font-size: 20px;
	height: 100px;
	width: 150px;
	border: 1px solid #000000;
}

.display {
	height: 125px;
	width: 125px;
}

#p1 {
	margin-top: 20px;
}

#p2 {
	margin-top: 20px;
}

#p1_display {
	border: 1px solid #ff1144;
	background-image: url('../media/p1.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
}

#p2_display {
	border: 1px solid #1ba990;
	background-image: url('../media/p2.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
}

#p1_status {
	border: 1px solid #ff1144;
	font-size: 60px;
	background-size: 100%;
	background-repeat: no-repeat;
}

#p2_status {
	border: 1px solid #1ba990;
	font-size: 60px;
	background-size: 100%;
	background-repeat: no-repeat;
}