ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #46A7FB;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 20px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.friend_box {
    position: absolute;
    background-color: #f9f9f9;
    max-height: 800px;
    border-radius: 10px;
    width: 90%;
}

.cancel_button {
    width: 100%;
}

#search {
    background-image: url('/media/search.png');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
}

#select_search {
    width: 100%;
    margin-left: auto;
    height: 20px;
}

#search_my_friends {
    text-align: center;
    width: 50%;
    font-size: 16px;
}

#search_all_players {
    text-align: center;
    width: 50%;
    font-size: 16px;
}

#friends {
    max-height: 700px;
    overflow: scroll;
}

#messages {
    max-height: 800px;
    overflow: scroll;  
}

.complex_form{
    margin-top:20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    border: 2px #333 solid;
    padding:20px 10px 10px 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 800px;
}

.complex_form .form_title{
    font-size:20px;
    font-weight:bold;
    margin:-20px -10px 20px -10px;
    padding:10px 0px 10px 25px;
    color:white;
    background-color: #333;
    border-radius: 7px 7px 0px 0px;
    display: flex;
    justify-content:flex-end;
}

.complex_form .form_title p{
    width: 100%;
}

.complex_form .form_title .title_button{
    height: 64px;
    width: 64px;
    background-position: center;
    background-image: url('../media/down.png');
}

.form_radio{
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.complex_form .form_element{
     width:97%;
     margin-bottom:10px;
     font-size: 20px;
     border-radius:10px;
     padding:5px 10px 5px 10px;
}

.complex_form .btn{
    width:100%;
    border-radius:10px;
    text-align:center;
    font-size: 20px;
    color: #333;
    background: white;
    border: 2px #333 solid;
    padding: 10px 20px 10px 20px;
}

.complex_form .btn:hover {
    background: #111;
    color: white;
}

.players {
    display:flex;
    flex-flow:flex-start;
    align-items:center;
    width:100%;
    margin:auto;
    height:50px;
    margin-top:20px;
    flex-wrap: wrap;
    cursor: pointer;
}

.players .user_pic {
    width:32px;
    height:32px;
    object-fit:contain;
    margin-left:10px;
}

.players .user_pic img {
    max-width:100%;
}

.players .player_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:left;
    width: 70%;
    margin-left: 10px;
}

.players .player_name {

}

.players .player_status {
    padding-top: 5px;
}

.players .delete_button {
    height: 32px;
    width: 32px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../media/trash.png);
    text-align:center;
}

.players .add_button {
    height: 32px;
    width: 32px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../media/add.png);
    text-align:center;
}

.selected_players {
    display:flex;
    flex-flow:flex-start;
    align-items:center;
    width:100%;
    margin:auto;
    height:50px;
    margin-top:20px;
    flex-wrap: wrap;
    background-color: orange;
    cursor: pointer;
}

.selected_players .user_pic {
    width:32px;
    height:32px;
    object-fit:contain;
    margin-left:10px;
}

.selected_players .user_pic img {
    max-width:100%;
}

.selected_players .player_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:left;
    width: 70%;
    margin-left: 10px;
}

.selected_players .player_name {

}

.selected_players .player_status {
    padding-top: 5px;
}

.selected_players .delete_button {
    height: 32px;
    width: 32px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../media/trash.png);
    text-align:center;
}

.selected_players .add_button {
    height: 32px;
    width: 32px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../media/add.png);
    text-align:center;
}

.back_button {
    height: 64px;
    width: 64px;
    float: right;
    margin-right: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../media/close.png);
    text-align: center;
}

.start_button {
    height: 200px;
    width: 300px;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../media/red.png);
    text-align: center;
    align-items: center;
    margin: auto;
    cursor: pointer;
}

.mode_name {
    text-align: center;
    align-items: center;
    margin-top: 10px;;
    background-repeat: no-repeat;
    background-position: center;
}

.left_button {
    height: 200px;
    width: 200px;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../media/left.png);
    text-align: center;
    align-items: center;
    margin: auto;
    cursor: pointer;
}

.right_button {
    height: 200px;
    width: 200px;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../media/right.png);
    text-align: center;
    align-items: center;
    margin: auto;
    cursor: pointer;
}

.start_button:active {
    height: 200px;
    width: 300px;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    align-items: center;
    margin: auto;
    transform: scale(0.9);
}

#mode1 {
    background-image: url(../media/red.png);
}

#mode1:active {
    background-image: url(../media/red.png);
}

#mode2 {
    background-image: url(../media/yellow.png);
}

#mode2:active {
    background-image: url(../media/yellow.png);
}

#mode3 {
    background-image: url(../media/blue.png);
}

#mode3:active {
    background-image: url(../media/blue.png);
}

#game_map {
    display: none;
    margin-top: 20px;
}

#game_board {
    width: 800px;
    height: 500px;
    border: 5px solid #000000;
}

#main{
    max-width: 1200px;
    width: 80%;
    height: 100%;
    min-height:900px;
    min-width: 900px;
    margin: auto;
    background-color: #FFFFFF;
    border-radius: 0px 0px 20px 20px;
}

.container{
    max-width: 900px;
    padding-top:8px;
}

#decline_btn{
    background-image: url('../media/cancel.png');
    height:64px;
    width:64px;
    transform: scale(0.9);
    cursor: pointer;
}
#accept_btn{
    background-image: url('../media/checked.png');
    height:64px;
    width:64px;
    transform: scale(0.9);
    cursor: pointer;
}
#invite{
    flex-direction: row;
}

#play {
	width: 90%;
	height: 100%;
	margin: auto;
	display: flex;
	justify-content: space-between;
}

#game_container {
    border: 1px solid #000000;
    width: 90%;
    min-width: 800px;
    margin: auto;
}

#game_display {
    text-align: center;
    font-size: 20px;
    font-family: "Arial Black", Gadget, sans-serif;
}

#status_bar {
    width: 810px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

#countdown {
    font-size: 30px;
}

.display {
	height: 125px;
	width: 125px;
}

#board_container {
    width: 810px;
    margin: auto;
}

#p1 {
    display: flex;
    justify-content: flex-start;
}

#p2 {
    display: flex;
    justify-content: flex-end;
}

#p1_display {
	border: 1px solid #ff1144;
	background-image: url('../media/p1.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
}

#p2_display {
	border: 1px solid #1ba990;
	background-image: url('../media/p2.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
}

#p1_status {
	border: 1px solid #ff1144;
	font-size: 60px;
	background-size: 100%;
	background-repeat: no-repeat;
}

#p2_status {
	border: 1px solid #1ba990;
	font-size: 60px;
	background-size: 100%;
	background-repeat: no-repeat;
}