ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #46A7FB;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 20px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 500px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content div:hover {
    background-color: #f1f1f1;
}

#search {
    background-image: url('/media/search.png');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 500px;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

.complex_form{
    margin-top:20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    border: 2px #333 solid;
    padding:20px 10px 10px 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 800px;
}

.complex_form .form_title{
    font-size:20px;
    font-weight:bold;
    margin:-20px -10px 20px -10px;
    padding:10px 0px 10px 25px;
    color:white;
    background-color: #333;
    border-radius: 7px 7px 0px 0px;
    display: flex;
    justify-content:flex-end;
}

.complex_form .form_title p{
    width: 100%;
}

.complex_form .form_title .title_button{
    height: 64px;
    width: 64px;
    background-position: center;
    background-image: url('../media/down.png');
}

.form_radio{
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.complex_form .form_element{
     width:97%;
     margin-bottom:10px;
     font-size: 20px;
     border-radius:10px;
     padding:5px 10px 5px 10px;
}

.complex_form .btn{
    width:100%;
    border-radius:10px;
    text-align:center;
    font-size: 20px;
    color: #333;
    background: white;
    border: 2px #333 solid;
    padding: 10px 20px 10px 20px;
}

.complex_form .btn:hover {
    background: #111;
    color: white;
}

.players {
    display:flex;
    flex-flow:flex-start;
    align-items:center;
    width:100%;
    margin:auto;
    height:50px;
    margin-top:20px;
    flex-wrap: wrap;
}

.players .user_pic {
    width:32px;
    height:32px;
    object-fit:contain;
}

.players .user_pic img {
    max-width:100%;
}

.players .player_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:left;
    width: 400px;
    margin-left: 10px;
}

.players .player_name {

}

.players .player_status {
    padding-top: 5px;
}

.players .delete_button {
    height: 32px;
    width: 32px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../media/trash.png);
    text-align:center;
}

.players .chat_button {
    height: 32px;
    width: 32px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../media/chat.png);
    text-align:center;
}

.players .visit_button {
    height: 32px;
    width: 32px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../media/visit.png);
    text-align:center;
}

.players .add_button {
    height: 32px;
    width: 32px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../media/add.png);
    text-align:center;
}

.back_button {
    height: 64px;
    width: 64px;
    float: right;
    margin-right: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../media/close.png);
    text-align: center;
}

.start_button {
    height: 256px;
    width: 256px;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../media/start.png);
    text-align: center;
    align-items: center;
    margin: auto;
    cursor: pointer;
}

.start_button:active {
    height: 256px;
    width: 256px;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../media/start.png);
    text-align: center;
    align-items: center;
    margin: auto;
    transform: scale(0.9);
}

.onOffLine {
    display: flex;
    flex-direction: column;
}

.onOffLine .game_button{
    padding: 10px 16px;
    border-radius: 7px 7px 7px 7px;
    background-color: black;
    color: white;
    font-size: 16px;
    align-items: center;
    width: 75%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

#game_map {
    display: none;
    margin-top: 20px;
}

#game {
    display: flex;
    flex-direction: column;
}

#game p {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    font-size: 16px;
}

#game select {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    align-items: center;
    font-size: 20px;
}

#game_board {
    margin-left: 50px;
}

#main{
    max-width: 1200px;
    width: 80%;
    height: 100%;
    min-height:900px;
    margin: auto;
    background-color: #FFFFFF;
    border-radius: 20px;
}